
body{
  background-image: url(background.jpg);
  background-size: cover;


}

.logo{
  width: 170px;
  padding: 10px;
  padding-top: 30px;
}

.contenitore{
  box-sizing: content-box;
  background: rgba(0, 0, 0, 0.6);
  width: 800px;
  border-radius: 10px;
  padding: 50px;
  margin: auto;

}
.contenitore2{

  text-align: center;
  width: 600px;
  margin: auto;



}


.titolo{
  color: chartreuse;
  font-size: 25px;
  margin: auto;
}

.pulsanti{

background-color: chartreuse;
padding: 5px;


}

main{
text-align: left;

}

.spazio{
  margin-top: 25px;
  color: white;
  font-style: normal;
}
.Monopattino{
  font-size: 18px;
}
.comment{
  font-size: 12px;
}
.batteria1{

width: 350px;
height: 20px;
background-color: orange;
border-radius: 5px;
}

.batteria2{

width: 500px;
height: 20px;
background-color: green;
border-radius: 5px;
}

.batteria3{

width: 200px;
height: 20px;
background-color: red;
border-radius: 5px;
}
